<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="JMC.Properties.Settings.JMCConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\JMC\MDB\JMC.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
    <applicationSettings>
        <JMC.Properties.Settings>
            <setting name="instPath" serializeAs="String">
                <value>c:\JMC\</value>
            </setting>
            <setting name="mdbPath" serializeAs="String">
                <value>c:\JMC\MDB\JMC.mdb</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>YMGW-PC\PCADB</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value>Pca0304</value>
            </setting>
            <setting name="SQLDataBase" serializeAs="String">
                <value>P10V01C001SYS</value>
            </setting>
            <setting name="gengou" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RekiHosei" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="OCR出勤簿シートパス" serializeAs="String">
                <value>c:\JMC\XLS\OCR出勤簿.xlsx</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>c:\JMC\SCAN\</value>
            </setting>
            <setting name="readPath" serializeAs="String">
                <value>c:\JMC\READ\</value>
            </setting>
            <setting name="ngPath" serializeAs="String">
                <value>c:\JMC\NG\</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>c:\JMC\DATA\</value>
            </setting>
            <setting name="fmtFilePath" serializeAs="String">
                <value>c:\JMC\FMT\出勤簿200.fmt</value>
            </setting>
            <setting name="mdbPathTemp" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\JMC\MDB\tempmdb.mdb</value>
            </setting>
            <setting name="mdbFileBack" serializeAs="String">
                <value>C:\JMC\MDB\Backmdb.mdb</value>
            </setting>
            <setting name="mdbFile" serializeAs="String">
                <value>C:\JMC\MDB\JMC.mdb</value>
            </setting>
            <setting name="mdbFileTemp" serializeAs="String">
                <value>C:\JMC\MDB\tempmdb.mdb</value>
            </setting>
            <setting name="imageDeleteSpan" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="workPath" serializeAs="String">
                <value>c:\JMC\WORK\</value>
            </setting>
            <setting name="okPath" serializeAs="String">
                <value>c:\JMC\OK\</value>
            </setting>
            <setting name="tifPath" serializeAs="String">
                <value>c:\JMC\TIF\</value>
            </setting>
            <setting name="DayWorkTime" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="mdbOlePath" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\JMC\MDB\JMC.mdb</value>
            </setting>
            <setting name="docuworkPath" serializeAs="String">
                <value>c:\JMC\DOCUWORKS\</value>
            </setting>
            <setting name="outXlsJcs" serializeAs="String">
                <value>給与データ.xlsx</value>
            </setting>
            <setting name="outCsvName" serializeAs="String">
                <value>出勤簿集計.csv</value>
            </setting>
            <setting name="xlsPath" serializeAs="String">
                <value>c:\JMC\XLS\</value>
            </setting>
            <setting name="imgDpi" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TrayPath" serializeAs="String">
                <value>c:\JMC\TRAY\</value>
            </setting>
            <setting name="WinReader_Job" serializeAs="String">
                <value>常陽メンテナンス様WinReaderHands</value>
            </setting>
            <setting name="WinReader_Path" serializeAs="String">
                <value>C:\WinReaderHandS\</value>
            </setting>
            <setting name="WinReader_Prg" serializeAs="String">
                <value>WrhsMain.exe</value>
            </setting>
            <setting name="WinReader_OutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
        </JMC.Properties.Settings>
    </applicationSettings>
</configuration>